@font-face {
  font-family: "Baskervville";
  src: url("/Baskervville.ttf") format("TrueType");
}
@font-face {
  font-family: "Fraunces-Bold";
  src: url("/Fraunces_72pt-Bold.ttf") format("TrueType");
}
@font-face {
  font-family: "CrimsonText";
  src: url("/CrimsonText.ttf") format("TrueType");
}

html,
body {
  margin: 0 20px;
  background-color: #453a35;
}
canvas.webgl {
  position: fixed;
  left: 0;
}
a {
  text-decoration: none;
}
div.navWrapper {
  position: fixed;
  width: 100%;
  right: 0;
}
div.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;

  border-bottom: 5px solid rgba(34, 28, 26, 0.2);
  padding: 16px 70px;
  box-sizing: border-box;

  border-radius: 45px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.navList {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navList a {
  font-family: "Baskervville";
  font-size: 20px;
  color: hsla(0, 0%, 100%, 0.719);
}
.section3 a {
  font-family: "Baskervville";
  font-size: 20px;
  color: hsla(0, 0%, 100%, 0.719);
}
.logo {
  font-family: "Fraunces-Bold";
  font-size: 70px;
  font-weight: bold;
  color: #d68c45;
}

/* maine sectione */
.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  margin-right: 400px;
}

.title {
  color: #f3f5cc;
  /* font-size: 60px; */
  font-size: 3.8vw;
  font-family: "CrimsonText";
  text-wrap: auto;
  margin: 0;
}
.title span {
  color: #d68c45;
}
.salesPitch {
  font-family: "Baskervville";
  font-size: 20px;
  color: rgba(243, 245, 204, 65%);
  max-width: 800px;
  line-height: 1.8;
}

/* packages section */
.secondContainer {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  margin-top: 50px;
}
.packages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.package {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.priceTag {
  font-family: "Baskervville";
  color: #f3f5cc;
}

/* last section */
.thirdContainer {
  height: 85vh;
}
